@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');


* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Inter', sans-serif;
}


body {
background-size: cover;
background-attachment: fixed;
background-position: center;
color: #1f2d3d;
}


/* === HEADER === */
header {
position: fixed;
top: 0;
width: 100%;
backdrop-filter: blur(14px);
background: linear-gradient(
to bottom,
rgba(255,255,255,0.7),
rgba(255,255,255,0.3)
);
box-shadow: 0 8px 30px rgba(0,0,0,0.08);
z-index: 1000;
}

nav {
display: flex;
justify-content: space-between;
align-items: center;
padding: 1rem 2rem;
}


nav h1 {
font-size: 1.2rem;
font-weight: 600;
}


nav ul {
list-style: none;
display: flex;
gap: 1.5rem;
}


nav ul li a {
text-decoration: none;
color: #1f2d3d;
padding: .4rem .8rem;
border-radius: 20px;
transition: .3s;
}


nav ul li a:hover {
background: rgba(255,255,255,0.6);
box-shadow: inset 0 0 10px rgba(255,255,255,0.8);
}

.container{
text-align: center;
padding: 20px;
margin-top: 100px;
margin-bottom: 20px;
backdrop-filter: blur(0px);
background: linear-gradient(
to bottom,
rgba(255,255,255,0.7),
rgba(255,255,255,0.3)
);
}

p {
    font-size: 25px;
}

strong {
    font-weight: 550;
    font-size: 30px;
    color: rgb(0, 81, 255);
    padding: 5px 10px;
    border-radius: 5px;
}   

.container img{
width: 122%;
right: 11%;
height: auto;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
margin:20px auto;
display:block;
position: relative;
}

footer{
text-align:center;
padding:15px;
margin-top:20px;
backdrop-filter: blur(14px);
background: linear-gradient(
to bottom,
rgba(255,255,255,0.7),
rgba(255,255,255,0.3)
);
box-shadow: 0 8px 30px rgba(0,0,0,0.08);
z-index: 1000;
}

/* === PAGE WRAPPER === */
main {
padding: 120px 10% 60px;
}
